@charset "UTF-8";

@font-face {
    font-family: 'RussoOne';
    src: url('./fonts/russo_one.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/proxima_nova.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin-top: 100px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    color: #FFFFFF;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.main-image {
    width: 512px;
    padding: 16px;

    display: flex;
    flex-direction: column;

    background-image: url('../img/time_images/day_sky.jpg');
}

.main-city-info {
    padding: 8px;
    margin-bottom: 256px;

    text-align: right;
}

.main-time {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}