@charset "UTF-8";

@font-face {
    font-family: 'RussoOne';
    src: url('./fonts/russo_one.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/proxima_nova.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #0000006F 100%, #00000052),
    url('../img/time_images/background_image.jpg');
}

/* HEADER */
.header {
    margin: 8px;
    padding: 8px;
}

.header-title {
    font-size: 24px;
    color: #FFFFFFD6;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'RussoOne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MAIN */
.main {
    padding: 8px;
    margin: 16px 32px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-input {
    width: 512px;
    padding: 10px;

    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 16px 0 0px 16px;
}

.form-button {
    width: 64px;
    padding: 10px;
    
    cursor: pointer;
    color: #FFFFFF;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 0 16px 16px 0;
    background-color: transparent;
}