@charset "UTF-8";

@font-face {
    font-family: 'RussoOne';
    src: url('./fonts/russo_one.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/proxima_nova.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #0000006F 100%, #00000052),
    url('../img/time_images/background_image_two.jpg');
}

/* HEADER */
.header {
    margin: 8px;
    padding: 8px;
}

.header-title {
    font-size: 24px;
    color: #FFFFFFD6;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'RussoOne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MAIN */
.main {
    padding: 8px;
    margin: 128px 32px;

    display: flex;
    flex-direction: column;
}

.main-form {margin: auto;}

.form-input {
    width: 580px;
    padding: 16px;

    font-size: 16px;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 16px 0 0px 16px;
}

.form-button {
    width: 64px;
    padding: 16px;
    
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 0 16px 16px 0;
    background-color: transparent;
}

.main-names {
    margin-top: 64px;

    display: flex;
    align-items: flex-end;

}

.city-name,
.city-code {
    font-size: 64px;
    text-transform: capitalize;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.city-code {padding: 0 16px;}

.main-date {
    margin-top: 8px;

    display: flex;
    align-items: flex-end;
}

.main-date-value {
    font-size: 32px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}