@charset "UTF-8";

@font-face {
    font-family: 'RussoOne';
    src: url('./fonts/russo_one.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/proxima_nova.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;

    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #0000006F 100%, #00000052),
    url('../img/time_images/background_image_two.jpg');
}

/* HEADER */
.header {
    margin: 8px;
    padding: 8px;
}

.header-title {
    font-size: 24px;
    color: #FFFFFFD6;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'RussoOne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MAIN */
.main {
    padding: 8px;
    margin: 0 32px 100px 32px;

    display: flex;
    flex-direction: column;
}

.main-form {margin: auto;}

.main-form-title {
    padding: 8px 0;
    margin-bottom: 16px;

    font-size: 32px;
    text-align: center;
    font-weight: normal;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.form-input {
    width: 580px;
    padding: 16px;

    font-size: 16px;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 16px 0 0px 16px;
}

.form-button {
    width: 64px;
    padding: 16px;
    
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;

    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 0 16px 16px 0;
    background-color: transparent;
}

.main-names {
    margin-top: 64px;

    display: flex;
    align-items: flex-end;

}

.city-name,
.country-code {
    font-size: 64px;
    text-transform: capitalize;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.country-code {padding: 0 16px;}

.main-date {
    margin-top: 8px;

    display: flex;
    align-items: flex-end;
}

.main-date-value {
    font-size: 32px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.main-info {
    margin-top: 128px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temp-info {
    margin-left: 200px;

    display: flex;
    align-items: center;
}

.info-icon i {
    padding-right: 32px;

    font-size: 128px;
}

.current-temp {
    font-size: 100px;
    font-weight: normal;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.current-text {
    font-size: 32px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'ProximaNova';
}

.extra-info {
    width: 724px;
    padding: 64px 24px;
    margin-right: 128px;

    border-radius: 16px;
    backdrop-filter: blur(4px);
    border: 2px solid #FFFFFF52;
}

.div-extra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-one,
.info-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-two {margin-top: 24px;}

.div-value,
.div-value-two {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-value {
    font-size: 34px;
    text-align: center;
    font-weight: normal;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

.info-title {
    padding: 0 4px;
    margin-top: 4px;

    font-size: 26px;
    text-align: center;
    font-weight: normal;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}

/* FOOTER */
.footer {text-align: center;}

.footer-text {
    padding: 8px;
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: normal;
    font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
}